*{
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
body{
    height: 300px;
}
footer{
    white-space: nowrap;
    top: 100%;
}
hr{
    margin: 0px 50px;  
}
button{
    border: 1px solid black;
    background:  transparent;
    justify-content: center;
    align-items:  center;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}
button img{
    position: absolute;
    height: 30px;
    right: 60%;
    bottom: 5px;
}
.btn1{
    padding: 10px 20px;
}
.fin-2 button{
    padding-left: 50px;
    width: 120px;
}
.btn2{
    border: none;
    background-color: #72c139f2;
    padding: 20px 50px;
}
.btn3{
    padding: 20px 50px;
}
h1{
    font-weight: 700;
    font-size: 30px;
}
p{
    opacity: 70%;
}
.foot1,.foot2,.maxwell,.buttons,.fin-1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.foot1{
    justify-content: space-between;
    margin: 20px 50px;
}
.maxwell div:nth-child(2){
    left: 30px;
}
.buttons btn1{
    padding: 10px 20px;
}
.buttons{
    gap: 2%;
}

.foot2{
    border-bottom: 10px solid lawngreen;
    padding: 20px 0px;
    gap: 15%;
}